*{
    padding: 0;
    margin: 0;
}

body {
    background-color: hsla(0, 0%, 100%, 0.75) ;
}

p{
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    font-weight: 400;
    word-spacing: 2px;
    padding-bottom: 100px;
    line-height: 1.5;
}

button{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    word-spacing: 1px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    width: 150px;
}

.heading{
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
    font-size: 40px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 30px;
}

.card-wrapper{
    padding: 150px;
    padding-left: 350px;
    display: flex;
    align-items: center; 
    padding-bottom: 0;
}

.sedan-container{
    background-color: hsl(31, 77%, 52%);
    padding: 40px;
    width: 220px;
    height: 450px;
    justify-content: space-evenly;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.suv-container{
    background-color: hsl(184, 100%, 22%);
    padding: 40px;
    width: 220px;
    height: 450px;
    justify-content: space-evenly;
}

.lux-container{
    background-color: hsl(179, 100%, 13%);
    padding: 40px;
    width: 220px;
    height: 450px;
    justify-content: space-evenly;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.sedan-btn{
    background-color: hsl(0, 0%, 95%);
    color: hsl(31, 77%, 52%);
}

.sedan-btn:hover{
    background-color: hsl(31, 75%, 68%);
    color:white
}

.suv-btn{
    background-color: hsl(0, 0%, 95%);
    color: hsl(184, 100%, 22%);
}

.suv-btn:hover{
    background-color: hsl(184, 40%, 41%);
    color:white
}

.lux-btn{
    background-color: hsl(0, 0%, 95%);
    color: hsl(179, 100%, 13%);
}

.lux-btn:hover{
    background-color: hsl(179, 34%, 28%);
    color:white
}


/* @media screen and (min-width: 375px){
    .card-wrapper {
        flex-direction: column;
    }
    .sedan-container, .suv-container, .luxury-container{
        width: 100%;
        height: 60vh;
    }
    .sedan-container{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .luxury-container{
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
} */
